
body, html {
	background-color: #eee;
	font-family: 'Open Sans', sans-serif;
	color:black;
}

a{
	color: white;
	text-decoration: none;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 4vmin;
}

button {
	color: #grey;
	border: 1px solid grey;
	font-size: 16px;
	text-transform:uppercase;
}

button:hover {	
	background-color: grey;
}

button:disabled{
	background-color:#eee;
	text-decoration: line-through;
}

button:disabled:hover{
	background-color:#eee;
	text-decoration: line-through;
}

#container {
	width: 80vw;
	height: 80vh;
	margin: 0px auto;
	background: rgba(255,255,255, 1);
	color: black;
	border: 2px solid black;
}

.box {
	height: calc(80vh - 30px);
	font-size: 16px;
	opacity: 0.8;
	float: left;
	padding: 0;	
}

.animalbutton{
	display:inline-block;
}

.explorebutton{
	display:inline-block;
}

#left {
	width: calc(17.5vw - 1px);
	border-right: 1px solid black;
}

#center1{
	width: calc(45vw - 1px);
	text-align: center;
	border-right: 1px solid black;
	z-index:3;
}

#center2{
	width: calc(45vw - 1px);
	text-align: center;
	border-right: 1px solid black;
	display:none;
	z-index:2;
}

#center3{
	width: calc(45vw - 1px);
	text-align: center;
	border-right: 1px solid black;
	display:none;
	z-index:1;
}

#right {
	width: 17.5vw;
}

#log {
	overflow-y: auto;
	max-height: calc(74vh - 14px - 30px);
}

#bottom {
	height: 5vh;
	width: 100%;
	float: left;
	margin-left: -2px;
	margin-top: -1px;
	text-align: center;
	text-transform: uppercase;
	background-color: #aaa;
	color: white;
	border: 2px solid black;
}

#leftbottom{
	border-top: 2px solid #aaa; 
	border-right: 1px solid black;
	border-bottom: 2px solid black;
	margin-left: -8px;
	padding: 5px;
	height: 138px;
	margin-top: 275px;
	background-color: #eee;
}

#square{
	height: 250px;
	width: 250px;
	background-color: #eee;
	margin: auto;
	border: 1px dashed black;
}

.boxtitle {
	text-align: center;
	font-size: 1.5vw;
	font-weight: bold;
	padding: 2px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	background-color: #aaa;
	color: white;
}

.text {
	overflow-y: auto;
	padding: 0px 10px 10px;
	height: calc(75vh - 35px);
}
#inv {
	height: auto;
}

.bottombox{
	margin-top: .5vh;
	display: inline-block;
	width: calc(40vw / 3);
	height: 4vh;
	border: 1px solid black;
	font-size: 16px;
}

.bottombox:hover{
	background-color: grey;
}

/*Bottom navigation buttons*/
.nav {
	width: 100%;
	height: 100%;
}

.pixel {
	image-rendering: pixelated;
	height: 14px;
}

.bold {
	font-weight: bold;
}
.unbold {
	font-weight: normal;
}




table.garden {
	width: 40vw;
	height: 40vw;
	margin: 1vw;
	text-align: center;
	border: 2px #855E42 solid;
}

table td.plot {
	padding: 0;
	width: auto;
	height: auto;
	background-color: #CDAF95;
}



